{% trans %}
<h3 style="color: rgb(136, 45, 240);">AI4D Africa's Anglophone Multidisciplinary Research Lab</h3>

<p>
<h4>Preamble</h4>

This project is a unique collaboration across two public academic institutions in Tanzania, UDOM & NM-AIST; with the
aim
of establishing a multidisciplinary AI4D lab that fosters research, training, innovation, and internationalization.
The
lab will bring together academia, industries and public institutions in Africa to develop research-based AI
solutions
that can contribute to addressing societal challenges in an equitable and gender responsive manner.

<h4>Main Objective</h4>
The main objective of the Lab is to strengthen the capacity of a public university in Africa to conduct
high-quality,
multidisciplinary, responsible AI research and teaching by establishing a multidisciplinary and gender-inclusive
Africa
Artificial Intelligence for Development research laboratory.

</p>


{% endtrans %}