<footer class="site-footer" style="background-color: #1172af">
    <div class="container">
        {% block footer_content %}
        <div class="container text-white">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="footer-info">
                        <h3>AI4D-Lab</h3>
                        <p class="pb-3">
                            <em>AI4D Africa's Anglophone Multidisciplinary Research Lab</em>
                        </p>
                        <p>
                            <strong>Phone:</strong> +255 715 016 580<br>
                            <strong>Email:</strong> info@ai4dlab.or.tz<br>
                        </p>

                    </div>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Quick Links</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="https://ai4dlab.or.tz/home">Home</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="https://ai4dlab.or.tz/about/about-us">About
                                us</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a
                                href="https://ai4dlab.or.tz/about/contact-us">Contact</a>
                        </li>
                        <li><i class="bx bx-chevron-right"></i> <a
                                href="https://ai4dlab.or.tz/updates/blog/posts">Blog</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="https://ai4dlab.or.tz/login"
                                target="_blank">Login</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="https://africa.ai4d.ai"
                                target="_blank">AI4D-Africa</a>
                        </li>
                        <li><i class="bx bx-chevron-right"></i> <a href="https://www.idrc.ca/en"
                                target="_blank">IDRC.CRDI</a>
                        </li>
                        <li><i class="bx bx-chevron-right"></i> <a href="https://www.sida.se/en"
                                target="_blank">Sida</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="https://www.udom.ac.tz/"
                                target="_blank">UDOM</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="https://nm-aist.ac.tz/"
                                target="_blank">NMAIST</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 footer-newsletter">
                    <h4>Our Newsletter</h4>
                    <p>Subscribe to our news letter to receive our updates instantly. Enter Your Email below.</p>
                    <form action="https://ai4dlab.or.tz/newsletter/subscribe" method="post" id="newsletter-form">
                        <input type="hidden" name="_token" value="J6ZA1KYpXnIofN0gRZxeaHisOmBpN2Fvl2M8bUmz"> <input
                            type="email" name="email"><input type="submit" value="Subscribe">
                    </form>

                    <table style="margin: auto; margin-top: 20px">
                        <tr>
                            <td>
                                <img
                                    src="https://ai4dlab.or.tz/web-assets/assets/images/glass_numbers/glass_numbers_0.png">
                            </td>
                            <td>
                                <img
                                    src="https://ai4dlab.or.tz/web-assets/assets/images/glass_numbers/glass_numbers_7.png">
                            </td>
                            <td>
                                <img
                                    src="https://ai4dlab.or.tz/web-assets/assets/images/glass_numbers/glass_numbers_5.png">
                            </td>
                            <td>
                                <img
                                    src="https://ai4dlab.or.tz/web-assets/assets/images/glass_numbers/glass_numbers_3.png">
                            </td>
                            <td>
                                <img
                                    src="https://ai4dlab.or.tz/web-assets/assets/images/glass_numbers/glass_numbers_3.png">
                            </td>
                            <td>
                                <img
                                    src="https://ai4dlab.or.tz/web-assets/assets/images/glass_numbers/glass_numbers_8.png">
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
        {% endblock %}
    </div>
</footer>



<!-- <footer id="footer">
    <div class="footer-top">

    </div>



    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>AI4D Lab 2023</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            All the links in the footer should remain intact.
            You can delete the links only if you purchased the pro version.
            Licensing information: https://bootstrapmade.com/license/
            Purchase the pro version with working PHP/AJAX contact form:
            https://bootstrapmade.com/bootslander-free-bootstrap-landing-page-template/
            Created by <a href="https://shiza.co.tz">Shiza Technologies</a>
        </div>
    </div>
</footer> -->


<!-- <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a> -->